<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.romancetech.androidtor"
      android:versionCode="6" android:versionName="6">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:persistent="true" android:debuggable="false">
        <activity android:name=".andtor"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
             <intent-filter> 
                <action android:name="android.intent.action.VIEW" /> 
                                <category android:name="android.intent.category.DEFAULT" /> 
                                <category android:name="android.intent.category.BROWSABLE" />
                                
                <data android:mimeType="application/x-bittorrent" /> 
            </intent-filter> 
            
        </activity>
        
         <activity android:name=".GetDownload"
        		android:configChanges="orientation"
        		android:launchMode="singleInstance"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".GetDownload" />
           </intent-filter>
        
         </activity>
         
         <activity android:name=".Search"
                android:configChanges="orientation"
                android:launchMode="singleInstance"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".Search" />
           </intent-filter>
        
         </activity>
         
         <activity android:name=".Browser"
                android:configChanges="orientation"
                android:launchMode="singleInstance"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".Browser" />
           </intent-filter>
        
         </activity>
         
         <activity android:name=".DownloadPrepare"
                android:configChanges="orientation"
                android:launchMode="singleInstance"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".DownloadPrepare" />
           </intent-filter>
        
         </activity>
         
         
         <activity android:name=".DownloadDone"
        		android:configChanges="orientation"
        		android:launchMode="singleInstance"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".DownloadDone" />
           </intent-filter>
        
         </activity>
         
         
         <activity android:name=".showError"
        		android:configChanges="orientation"
        		android:launchMode="singleInstance"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name=".showError" />
           </intent-filter>
        
         </activity>
        
        
        
        
        
        
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <uses-sdk android:minSdkVersion="3" />

<service android:name=".andtor.download"/>

</manifest> 